{
  "openapi": "3.0.0",
  "info": {
    "title": "GitHub Repository API",
    "version": "3.0.0",
    "description": "API para explorar repositorios de GitHub: archivos, estructura y contenido"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {

    "/repos/{owner}/{repo}": {
      "get": {
        "operationId": "get_repo_metadata",
        "summary": "Get repository metadata",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },    
          {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository metadata"
          }
        }
      }
    },

    "/repos/{owner}/{repo}/contents": {
      "get": {
        "operationId": "get_repo_root",
        "summary": "Get root contents of repository",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Branch name (e.g., main, master)"
          },
          {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "List of root files and folders"
          }
        }
      }
    },

    "/repos/{owner}/{repo}/contents/{path}": {
      "get": {
        "operationId": "get_repo_contents",
        "summary": "Get file or directory contents",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "name": "repo",
            "in": "path",
            "required": true
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              }
          }
        ],
        "responses": {
          "200": {
            "description": "File content or directory listing"
          }
        }
      }
    }

  }
}
