{
  "openapi": "3.0.0",
  "info": {
    "title": "GitHub Repository API",
    "version": "3.0.0",
    "description": "API para explorar repositorios de GitHub: archivos, estructura, contenido y metadata"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],

  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },

  "security": [
    {
      "bearerAuth": []
    }
  ],

  "paths": {
    "/repos/{owner}/{repo}": {
      "get": {
        "operationId": "get_repo_metadata",
        "summary": "Get repository metadata",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Repository metadata retrieved successfully" } }
      }
    },

    "/repos/{owner}/{repo}/contents": {
      "get": {
        "operationId": "get_repo_root",
        "summary": "Get root contents",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          { "name": "owner", "in": "path", "required": true },
          { "name": "repo", "in": "path", "required": true }
        ],
        "responses": { "200": { "description": "Root content" } }
      }
    },

    "/repos/{owner}/{repo}/contents/{path}": {
      "get": {
        "operationId": "get_repo_contents",
        "summary": "Get file contents",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          { "name": "owner", "in": "path", "required": true },
          { "name": "repo", "in": "path", "required": true },
          { "name": "path", "in": "path", "required": true }
        ],
        "responses": { "200": { "description": "File content" } }
      }
    },

    "/repos/{owner}/{repo}/git/trees/{branch}": {
      "get": {
        "operationId": "get_repo_tree",
        "summary": "Get repo tree",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          { "name": "owner", "in": "path", "required": true },
          { "name": "repo", "in": "path", "required": true },
          { "name": "branch", "in": "path", "required": true },
          { "name": "recursive", "in": "query", "schema": { "type": "integer", "example": 1 } }
        ],
        "responses": { "200": { "description": "Tree content" } }
      }
    }
  }
}
